@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.swiper-pagination-bullet {
  background: gray !important;
  opacity: 0.6 !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background: #000 !important; /* yellow-400 */
  opacity: 1 !important;
}

.aurora-container {
  width: 100%;
  height: 100%;
}

.checkout-input {
  @apply w-full px-4 py-3 rounded-lg border outline-none transition;
}

.dark .checkout-input {
  @apply bg-[#111] border-[#333] text-white placeholder-gray-400 focus:border-white;
}

.checkout-input {
  @apply bg-white border-gray-300 text-gray-900 placeholder-gray-500 focus:border-black;
}
